<div class="body-header">
  <p class="text-center"><%= image_tag('dota2_logo.png', class: 'img-fluid', alt: 'logo hots') %></p>
</div>

<% if @items[1].length > 0 %>
<div class="title"><p class="lead">Torneos</p></div>
<div class="separator"></div>
<div class="row">
  <% @items[1].each do |item| %>
    <div class="col-sm-4">
      <div class='streamer'>
        <div class='streamName'>
          <a class="link" href="tournament.html" target="_self"><p class='lead'><%= item.twitch_username %></p></a>
        </div>
        <div class='miniature'>
          <a class="link" href="tournament.html" target="_self"><%= image_tag(item.image, class: 'img-fluid', alt: 'miniatura') %></a>
        </div>
        <p class='stream-info'><strong>LVPes</strong> con <strong>1,002,234</strong> espectadores</p>
        <p class='stream-info'><strong><%= link_to @items[4][0].red_team.name %></strong> vs<strong><%= link_to @items[4][0].blue_team.name %></strong></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if @items[2].length > 0 %>
<div class="title"><p class="lead">Jugadores profesionales</p></div>
<div class="separator"></div>
<div class="row">
  <% @items[2].each do |item| %>
    <div class="col-sm-4">
      <div class='streamer'>
        <div class='streamName'>
          <a class="link" href="streamer.html" target="_self"><p class='lead'><%= item.twitch_username %></p></a>
        </div>
        <div class='miniature'>
          <a href="streamer.html" target="_self"><%= image_tag(item.image, class: 'img-fluid', alt: 'miniatura') %></a>
        </div>
        <p class='stream-info'><strong><%= item.twitch_username %></strong> con <strong>441,213</strong> espectadores</p>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if @items[3].length > 0 %>
<div class="title"><p class="lead">Streamers emergentes</p></div>
<div class="separator"></div>
<div class="row">
  <% @items[3].each do |item| %>
    <div class="col-sm-4">
      <div class='streamer'>
        <div class='streamName'>
          <a class="link" href="streamer.html" target="_self"><p class='lead'><%= item.twitch_username %></p></a>
        </div>
        <div class='miniature'>
          <a class="link" href="streamer.html" target="_self"><%= image_tag(item.image, class: 'img-fluid', alt: 'miniatura') %></a>
        </div>
        <p class='stream-info'><strong><%= item.twitch_username %></strong> con <strong>1,257</strong> espectadores</p>
      </div>
    </div>
  <% end %>
</div>
<% end %>