<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @map.image %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @map.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @map.updated_at %>
</p>

<p>
  <strong>Game:</strong>
  <%= @map.game %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
