<%= form_with(model: bet, local: true) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bet_name %>
  </div>

  <div class="field">
    <%= form.label :ratio %>
    <%= form.text_field :ratio, id: :bet_ratio %>
  </div>

  <div class="field">
    <%= form.label :matchup_id %>
    <%= form.text_field :matchup_id, id: :bet_matchup_id %>
  </div>

  <div class="field">
    <%= form.label :refered %>
    <%= form.text_field :refered, id: :bet_refered %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
