<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @tournament.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @tournament.updated_at %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
