<div class="container-fluid">
  <header class="header">
    <%= image_tag("logo.png",alt: "Logo")%>
  </header>

  <div class="panel panel-default">
    <div class="panel-heading">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"><%= link_to "Epic Moba Steam", {controller: "home", action: "index"},class:"navbar-brand navbar-link"%>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"></button>
          </div>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
              <li class="active" role="presentation"><%= link_to "Inicio", {controller: "home", action: "index"}%></li>
              <li role="presentation">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Juegos <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% @games.each do |game|%>
                    <% case game.name %>
                    <% when "League of Legends" %>
                    <li role="presentation"><%= link_to game.name, {controller: "game",action: "lol"} %></li>

                    <% when "Dota 2" %>
                      <li role="presentation"><%= link_to game.name, {controller: "game",action: "dota2"} %></li>
                    <% when "Heroes of the Storm" %>
                      <li role="presentation"><%= link_to game.name, {controller: "game",action: "hots"} %></li>
                    <% else %>
                    <% end %>
                  <% end %>
                  <!-- Aquí hay que añadir el link del juego,una de dos o por modelado dela base de datos o haciendo un
                    game/1 en el cual 1 es id del juego
                    -->
                </ul>
              </li>
              <li role="presentation"><%= link_to "Contacto", {controller: "home", action: "index"}%> </li>
              <li role="presentation"><%= link_to "Administración", {controller: "home", action: "index"}%></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="panel-body">
      <div class="body-content">
        <div class="body-header">
          <div class="row">
            <div class="col-sm-3">
              <p class="lead">Streams destacados</p>
            </div>
            <div class="col-sm-3 col-sm-offset-6">
              <p class="lead">
                Filtros&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">&nbsp;&darr;&nbsp;</button>
              </p>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="loadContent"></div>
        <div class="moreContent"></div>
        <div class="col-sm-3 col-sm-offset-9 loadButton">
          <button type="button" onclick="loadMoreStreamers();" class="btn btn-default">Cargar más...</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filtrar streamers</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-3">
            <strong>Idioma</strong>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Español</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Inglés</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Coreano</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <strong>Categoría</strong>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Torneo</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Jugador profesional</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Jugador emergente</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <strong>Videojuego</strong>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> League of legends</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Dota 2</label>
          </div>
          <div class="col-xs-3">
            <label><input type="checkbox"> Heroes of storm</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="applyFilters();">Filtrar</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="streamerCursor" value="2">
<%= javascript_include_tag 'javascript-index' %>
