<p id="notice"><%= notice %></p>

<p>
  <strong>Twitchchannel:</strong>
  <%= @contact.twitchChannel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Datetoplay:</strong>
  <%= @contact.dateToPlay %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
