<div class="container-fluid">
  <header class="header">
    <%= image_tag("logo.png",alt: "Logo")%>
  </header>

  <div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="body-content">
        <div class="body-header">
          <div class="row">
            <div class="col-sm-3">
              <p class="lead">Log In</p>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


