<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :player_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :player_lastname %>
  </div>

  <div class="field">
    <%= form.label :nick %>
    <%= form.text_field :nick, id: :player_nick %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :player_origin %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :player_team_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :player_image %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :player_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :player_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
