<p class="lead">Formulario de contacto</p>
<%= form_tag({controller: 'contact', action: 'sent'}, method: 'post', id: 'form') do %>
  <div class="feedbackmessage" role="alert"></div>
  <div class="form-group">
    <label for="inputName">Canal de twitch.tv</label>
    <%= text_field_tag 'name', nil, placeholder: 'Canal de twitch', class: 'form-control'%>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email de Contacto</label>
    <%= email_field_tag 'email', nil, { placeholder: 'email', class: 'form-control', "aria-describedby" => "emailHelp"}%>
  </div>
  <div class="form-group">
    <label for="inputText">Género</label>
    <p><label><%= radio_button_tag 'gender', 'male' %>Chico</label> <label><%= radio_button_tag 'gender', 'female' %>Chica</label></p>
  </div>
  <div class="form-group">
    <label for="inputText">Tipo de streamer</label>
    <p>
      <select name="streamerType"><%= options_for_select([['Retransmision de torneos',1], ['Jugador profesional',2], ['Streamer',3]]) %></select>
    </p>
  </div>
  <div class="form-group">
    <label for="inputText">Mensaje</label>
    <%= text_area_tag 'message', nil, {class: 'formTextArea form-control', form: 'form'} %>
  </div>
  <%= submit_tag('Contactar', class: 'btn btn-md btn-primary') %>
<% end %>